{% extends 'base.html' %}

{% block title %} Homepage of Frontend {% endblock %}

{% block content %}
<div class="container" style="display:flex; gap: 10px; flex-direction: row; height: 300px; background-color: blue; width: 100%;">
    <!-- Content here -->
    <div class="container" style="width: 50%; height: 100%; background-color: aqua; border: 1px solid black">
        <form id="searchForm" class="d-flex" role="search">
            <input class="form-control me-2" type="search" id="stateInput" placeholder="Search for a state" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div id="searchResults" style="margin-top: 20px;"></div>
        <!-- Content here -->
    </div>
    <div class="container" style="width: 40%; height: 100%; background-color: burlywood; border: 1px solid black">
        <span>Top 10 Nations Cost of Living and Rent Index</span>
        <div id="top10List" style="margin-top: 20px;"></div>
    </div>
</div>
<div class="container" style="display:flex; flex-direction: row; height: 300px; background-color: green; width: 100%">
    <div class="container" style="width: 42%; height: 100%; background-color: red;">
        <div class="container">
            <button type="button" class="btn btn-primary btn-lg"><i class="bi bi-plus"></i></button>
        </div>
    </div>
    <div class="container" style="width: 16%; height: 100%; background-color: aqua;">
        <span>VS</span>
    </div>
    <div class="container" style="width: 42%; height: 100%; background-color: burlywood;">
        <div class="container">
            <button type="button" class="btn btn-primary btn-lg"><i class="bi bi-plus"></i></button>
        </div>
    </div>
</div>
{% endblock %}
